body{
	margin: 0px;
	padding: 0px;
}
header{

}

nav{
	position: relative;
	overflow: hidden;
	height: 60px;
	background-color: gray;

}

nav > ul {
	margin: 0px;
    width: 177px;
    position: absolute;

}

nav > ul > li{
	display: inline-block;
	margin: 21px;
}

section{
	overflow: hidden;
	margin-top: 50px;
	background: #D5D5D5;
}



.logo{
	float: left;
	width: 20px;
	height: 20px;
	background: blue;

}

#slide{
	position: relative;
	height: 500px;
	background: #D4D4D4;
	overflow: visible;

}

/* Services section*/

#services{
	height: 250px;
	padding: 60px 20px;
}

.service-item{
	float: left;
    width: 25%;
    text-align: center;
    margin-top: 40px;
}
#search-content{
	position: absolute;
	width: 100%;
    bottom: -25px;
}
#search-bar{
	width: 60%;
    margin: 0 auto;
    min-width: 600px;
}

.input-search, .button-search {
	padding: 20px;
	margin-left: -5px;

}

.input-search{
	width: 80%;
}

/* Phone section*/

.col-md-3{
    float: left;
    overflow: hidden;
    position: relative;
    width: 33.33%;
    height: 512px;
}

.phone{
	position: absolute;
	max-width: 100%;
    height: auto;

}

/* Deals section */

.deal-item{
	float: left;
	width: 25%;
    text-align: center;
}

/* Generico */
.title{
	text-align: center;
}
.text-right{
	text-align: right;
}