body{
	margin: 0px;
	padding: 0px;
}
header{

}

nav{
	overflow: hidden;
	height: 60px;
	background-color: gray;

}

nav > ul > li{
	display: inline-block;
}

section{
	margin-top: 50px;
}

.logo{
	float: left;
	width: 20px;
	height: 20px;
	background: blue;

}

#slide{
	position: relative;
	height: 500px;
	background: #D4D4D4;

}
#services{
	height: 500px;
	background: #D5D5D5;
	padding: 60px 20px;
}

.service-element{
	float: left;
    width: 25%;
    text-align: center;
}
#search-content{
	position: absolute;
	width: 100%;
    bottom: -25px;
}
#search-bar{
	width: 60%;
    margin: 0 auto;
}

.input-search, .button-search {
	padding: 20px;
	margin-left: -5px;

}

.input-search{
	width: 80%;
}