body{


    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 5s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 5s ;
    animation-iteration-count:infinite;
}

@keyframes example {
    0%   {

		background-image: -moz-linear-gradient(60deg, rgba(63, 81, 181, 0.54) 5%, rgba(156, 39, 176, 0.54)), url(bg.jpg);
		background-image: -webkit-linear-gradient(60deg, rgba(63, 81, 181, 0.54) 5%, rgba(156, 39, 176, 0.54)), url(bg.jpg);
		background-image:  -ms-linear-gradient(60deg, rgba(63, 81, 181, 0.54) 5%, rgba(156, 39, 176, 0.54)), url(bg.jpg);
		background-image: linear-gradient(60deg, rgba(63, 81, 181, 0.54) 5%, rgba(156, 39, 176, 0.54)), url(bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		
    }
    25%  {

		background-image: -moz-linear-gradient(60deg, rgba(63, 81, 181, 0.54) 5%, rgba(156, 39, 176, 0.54)), url(bg-2.png);
		background-image: -webkit-linear-gradient(60deg, rgba(63, 81, 181, 0.54) 5%, rgba(156, 39, 176, 0.54)), url(bg-2.png);
		background-image:  -ms-linear-gradient(60deg, rgba(63, 81, 181, 0.54) 5%, rgba(156, 39, 176, 0.54)), url(bg-2.png);
		background-image: linear-gradient(60deg, rgba(63, 81, 181, 0.54) 5%, rgba(156, 39, 176, 0.54)), url(bg-2.png);
		background-repeat: no-repeat;
		background-size: cover;

	}
    50%  {

		background-image: -moz-linear-gradient(60deg, rgba(63, 81, 181, 0.54) 5%, rgba(156, 39, 176, 0.54)), url(bg-3.png);
		background-image: -webkit-linear-gradient(60deg, rgba(63, 81, 181, 0.54) 5%, rgba(156, 39, 176, 0.54)), url(bg-3.png);
		background-image:  -ms-linear-gradient(60deg, rgba(63, 81, 181, 0.54) 5%, rgba(156, 39, 176, 0.54)), url(bg-3.png);
		background-image: linear-gradient(60deg, rgba(63, 81, 181, 0.54) 5%, rgba(156, 39, 176, 0.54)), url(bg-3.png);
		background-repeat: no-repeat;
		background-size: cover;

	}
    100% {

		background-image: -moz-linear-gradient(60deg, rgba(63, 81, 181, 0.54) 5%, rgba(156, 39, 176, 0.54)), url(bg-4.png);
		background-image: -webkit-linear-gradient(60deg, rgba(63, 81, 181, 0.54) 5%, rgba(156, 39, 176, 0.54)), url(bg-4.png);
		background-image:  -ms-linear-gradient(60deg, rgba(63, 81, 181, 0.54) 5%, rgba(156, 39, 176, 0.54)), url(bg-4.png);
		background-image: linear-gradient(60deg, rgba(63, 81, 181, 0.54) 5%, rgba(156, 39, 176, 0.54)), url(bg-4.png);
		background-repeat: no-repeat;
		background-size: cover;

    }
}

.box{
	overflow: hidden;
	color: #5d5d5d;
    width: 400px;
    height: 450px;
	background-color: white;
	text-align: center;
	margin: 0 auto;
	margin-top: 80px;
	border-radius: 2px;
}

.imagen{
	margin-top: 40px;
}

img{
	margin-top: 40px;
	width: 100px;
	margin: 0 auto;
	border-radius: 100%;

}

.iconos{
    width: 228px;
    margin: 0 auto;
    display: block;
}

.circle{
	color: rgba(74, 74, 74, 0.32);
	cursor: pointer;
	float: left;
	width: 32px;
    border: 1px solid #c7c7c7;
    border-radius: 100%;
    padding: 14px;
    font-size: 29px;
        margin: 7px;
}
.circle:hover{
	border:1px solid gray;
}

.clear{
	clear:both;

}