body{
	margin:0px;
	background: linear-gradient(269deg, #000000, #878787, #ffffff);
	background-size: 600% 600%;

background: linear-gradient(269deg, #000000, #9b9b9b, #6b6b6b);
background-size: 600% 600%;

background: linear-gradient(233deg, #000000, #9b9b9b, #6b6b6b);
background-size: 600% 600%;

-webkit-animation: AnimationName 28s ease infinite;
-moz-animation: AnimationName 28s ease infinite;
animation: AnimationName 28s ease infinite;

}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@keyframes AnimationName { 
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
/* Nav */
nav{

	width: 90%;
	margin:0 auto;
    margin-top: 30px;

	display: flex;
	color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    text-transform: none;
    letter-spacing: 0.04em;
    font-weight: 100;
    font-style: normal;
}
.nav{
	position: absolute;
	font-size: 14px;
}
.nav ul{
	-webkit-font-smoothing: antialiased;
	margin: 0px;
    padding: 0px;
}
.nav ul li{
	display: inline-block;
	list-style: none;
	margin-right: 10px;
}

.nav ul li a{
	color:white;
	text-decoration: none;
}

.logo{
	font-weight: 100;
	margin:0 auto;
	letter-spacing: 5px;
}






/* body */


.datos{
 	position: absolute;
        bottom: -176px;
    left: 73px;
    width: 90%;

}

.imagen{
    background: url(profile.jpg);
    /* height: 439px; */
    height: 54vh;
    background-position: -100px -345px;
    background-repeat: no-repeat;
     opacity: 0.8;


}

.texto{
    width: 67%;
    margin: 0 auto;
    margin-top: 173px;

}

 .texto h2{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 1.5em;
    text-transform: none;
    letter-spacing: 0.04em;
    font-weight: 100;
    font-style: normal;
        -webkit-font-smoothing: antialiased;
    /* color: #333; */

}

.contacto{

	background: gray;
	height: 600px;

	    margin-top: 200px;

}