html,body,header{
    height: 100%;

}
html{
	margin:0px;
	background: linear-gradient(269deg, #000000, #878787, #ffffff),url(bg.jpg);
    background-size: 3000% 3000%;
    background-repeat: no-repeat;

    background: linear-gradient(269deg, #000000, #9b9b9b, #6b6b6b),url(bg.jpg);
    background-size: 3000% 3000%;
    background-repeat: no-repeat;

    background: linear-gradient(233deg, #000000, #9b9b9b, #6b6b6b),url(bg.jpg);
    background-size: 3000% 3000%;
    background-repeat: no-repeat;

    -webkit-animation: AnimationName 38s ease infinite;
    -moz-animation: AnimationName 38s ease infinite;
    animation: AnimationName 38s ease infinite;

}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@keyframes AnimationName { 
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}

}

/* Nav */
nav{

	width: 90%;
	margin:0 auto;
    margin-top: 30px;

	display: flex;
	color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    text-transform: none;
    letter-spacing: 0.04em;
    font-weight: 100;
    font-style: normal;
}
.nav{
	position: absolute;
	font-size: 14px;
}
.nav ul{
	-webkit-font-smoothing: antialiased;
	margin: 0px;
    padding: 0px;
}
.nav ul li{
	display: inline-block;
	list-style: none;
	margin-right: 10px;
}

.nav ul li a{
	color:white;
	text-decoration: none;
}

.logo{
	font-weight: 100;
	margin:0 auto;
	letter-spacing: 5px;
}

/* Section */
section{
    width: 67%;  
    margin: 0 auto;
}







/* body */


.datos{
    position: absolute;
    /* bottom: -176px; */
    /* left: 73px; */
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: -1;

}

.imagen{
    background: url(profile.jpg) no-repeat center center ;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    opacity: 0.1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}

.texto{
    margin: 0 auto;
    margin-top: 173px;

}
 .texto h2, .texto h1,
 .portfolio h2, 
 .profile h2,
 .contacto h2{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 1.5em;
    text-transform: none;
    letter-spacing: 0.04em;
    font-weight: 100;
    font-style: normal;
        -webkit-font-smoothing: antialiased;
    /* color: #333; */

}

.texto h1{
    font-size: 70px;
}

 .profile h2 ,
 .portfolio h2,
 .contacto h2{
    font-size: 40px;
    text-transform: uppercase;
 }

/* Work */

.project{
    width: 100%;
    height: 140px;
    margin-top: 20px;
    background: gray;
}
.project-1{

}
.project-2{

}


/* Contact */


.mapa{
    width: 100%;
    height: 30%;
    margin-top: 30px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

}


.contacto{
    height: 600px;
}


form{

    margin: 0 auto;
    color: white;
    font-family: sans-serif;
}

form input,textarea{
    width: 100%;
    padding: 10px;
    margin-top: 29px;
    background: transparent;
    border: 2px solid #e0e0e0;

}

form .submit{
    background: gainsboro;
    color: #616161;
    font-family: sans-serif;
    font-size: 14px;
}